<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /wandee/

  # Jangan rewrite file atau direktori yang ada
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Arahkan semua request ke folder public
  RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>

<IfModule !mod_rewrite.c>
  ErrorDocument 404 /wandee/public/index.php
</IfModule>
